@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Index Computers", "Index", "Computers") <br />
@Html.ActionLink("Index Users", "Index", "Users") <br/>
@Html.ActionLink("Index Logins", "Index", "Logins")